<p id="notice"><%= notice %></p>

<p>
  <strong>Job:</strong>
  <%= @brokerage_job.job %>
</p>

<p>
  <strong>Shipment:</strong>
  <%= @brokerage_job.shipment %>
</p>

<p>
  <strong>Status:</strong>
  <%= @brokerage_job.status %>
</p>

<%= link_to 'Edit', edit_brokerage_job_path(@brokerage_job) %> |
<%= link_to 'Back', brokerage_jobs_path %>

<section class="section shipment_locations">
  <div class="container">
    <h2 class="subtitle is-5">
      <strong><%= @brokerage_job.shipment_locations.count %></strong> 
      <% if @brokerage_job.shipment_locations.count == 0 || 1 %>
        shipment location
      <% else %>
        shipment locations 
      <% end %>
    </h2>
    <table>
  <thead>
    <tr>
      <th>Shipment</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Brokeragejob</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @brokerage_job.shipment_locations.each do |shipment_location| %>
      <tr>
        <td><%= shipment_location.shipment %></td>
        <td><%= shipment_location.latitude %></td>
        <td><%= shipment_location.longitude %></td>
        <td><%= shipment_location.BrokerageJob_id %></td>
        <td><%= link_to 'Show', shipment_location %></td>
        <td><%= link_to 'Edit', edit_shipment_location_path(shipment_location) %></td>
        <td><%= link_to 'Destroy', shipment_location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
    <div class="shipment_location-form">
      <hr />
      <h3 class="subtitle is-3">Enter New Location</h3>
      <%= render partial: 'shipment_locations/form', locals: { shipment_location: @brokerage_job.shipment_locations.build } %>
    </div>
  </div>
</section>

<hr />

Current Location of <strong> <%= @brokerage_job.job %> </strong>

<table>
  <thead>
    <tr>
      <th>Shipment</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Brokeragejob</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tr>
    <td><%= @brokerage_job.shipment_locations[-2].shipment %></td>
    <td><%= @brokerage_job.shipment_locations[-2].latitude %></td>
    <td><%= @brokerage_job.shipment_locations[-2].longitude %></td>
    <td><%= @brokerage_job.shipment_locations[-2].BrokerageJob_id %></td>
  </tr>
</table>

<%= link_to shipment_locations_path, class: '#', :remote => true do %>
  <i class="icon-trash">Current Location</i>
<% end %>
