<%= form_with(model: shipment_location) do |form| %>
  <% if shipment_location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shipment_location.errors.count, "error") %> prohibited this shipment_location from being saved:</h2>

      <ul>
        <% shipment_location.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :shipment %>
    <%= form.text_field :shipment %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude %>
  </div>

  <div class="field">
    <%= form.label :BrokerageJob_id %>
    <%= form.hidden_field :BrokerageJob_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
